.label-button {
  background-color: rgb(46, 46, 46);
  font-size: 1em;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 3px 7px;
}

.label-button:hover {
  background-color: rgb(61, 61, 61);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}