.label_button {
  background-color: var(--label-btn-bg-color);
  color: var(--label-btn-text-color);
  font-size: 1em;
  font-weight: 500;
  border: 1px solid var(--label-btn-border-color);
  border-radius: 5px;
  padding: 3px 7px;
}

.label_button:hover {
  background-color: var(--label-hover-btn-bg-color);
  border: 1px solid var(--label-hover-btn-border-color);
  cursor: pointer;
}