.input_button {
  position: relative;
  display: inline-block;
}


/* ===== (≤ 768px) ===== */
@media (max-width: 768px) {
  .input_button {
    font-size: 1.2em;
  }
}


/* ===== (≤ 480px) ===== */
@media (max-width: 480px) {
  .input_button {
    font-size: 1.8em;
  }
}